@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
 html {
	 display: grid;
	 min-height: 100%;
}
 body {
	 display: grid;
	 background: linear-gradient(to bottom left, #79c7c5 40%, #f9fbff 100%);
	 font-family: 'Lato', sans-serif;
}
 .container {
	 position: relative;
	 margin: 0% auto;
     margin-top: 100px;
	 width: 1250px;
	 height: 750px;
}
 .messages {
	 position: absolute;
	 background: #f9fbff;
	 opacity: 0.5;
	 width: 20%;
	 height: 70%;
	 top: 2.5%;
	 left: 5%;
	 border-radius: 10px 0 0 10px;
	 box-shadow: -5px 5px 10px rgba(119, 119, 119, .5);
}
/*chat messages */
 .people {
	 position: absolute;
	 list-style-type: none;
	 width: 30.2%;
	 left: -10px;
	 top: 24.7%;
	 line-height: 0.7em;
}
 .people .title {
	 text-transform: uppercase;
	 font-size: 0.7em;
	 margin-left: 14px;
	 letter-spacing: 1px;
	 color: #777;
}
 .people .time {
	 font-size: 0.3em;
	 color: #777;
	 position: absolute;
	 right: 10px;
	 margin-top: 2px;
}
 .people .preview {
	 color: #79c7c5;
	 margin-left: 14px;
	 font-size: 0.5em;
}
 .person {
	 padding: 12px 0 12px 12px;
	 border-bottom: 1px solid #79c7c5;
	 cursor: pointer;
}
 .person:hover {
	 background: #f9fbff;
	 transition: all 0.3s ease-in-out;
}
 .focus {
	 background: #f9fbff;
	 margin-left: 1px;
}
 .profile {
	 position: absolute;
	 left: 13%;
	 top: 7%;
}
 .name2 {
	 position: absolute;
	 top: 70px;
	 left: -80px;
	 text-transform: uppercase;
	 color: #79c7c5;
	 font-size: 0.8em;
	 letter-spacing: 2px;
	 font-weight: 500;
}
 .email {
	 color: #f9fbff;
	 font-size: 0.5em;
	 margin-left: -30px;
	 margin-top: 2px;
}
 .chatbox {
	 position: absolute;
	 left: 25%;
	 height: 75%;
	 width: 70%;
	 border-radius: 10px;
	 box-shadow: 5px 5px 15px rgba(119, 119, 119, 0.5);
}
 .top-bar {
	 width: 100%;
	 height: 60px;
	 background: #f9fbff;
	 border-radius: 10px 10px 0 0;
}
 .avatar {
	 width: 35px;
	 height: 35px;
	 background: linear-gradient(to bottom left, #79c7c5 20%, #a1e2d9 100%);
	 border-radius: 50%;
	 position: absolute;
	 top: 11px;
	 left: 15px;
}
 .avatar p {
	 color: #f9fbff;
	 margin: 0.4em 0;
     text-align: center;
}
 .name {
	 position: absolute;
	 top: 22px;
	 text-transform: uppercase;
	 color: #777;
	 font-size: 0.8em;
	 letter-spacing: 2px;
	 font-weight: 500;
	 left: 60px;
}
 .menu {
	 position: absolute;
	 right: 10px;
	 top: 20px;
	 width: 10px;
	 height: 20px;
	 cursor: pointer;
}
 .menu:hover {
	 transform: scale(1.1);
	 transition: all 0.3s ease-in;
}
 .icons {
	 position: absolute;
	 color: #a1e2d9;
	 padding: 10px;
	 top: 5px;
	 right: 21px;
	 cursor: pointer;
}
 .icons .fas {
	 padding: 5px;
	 opacity: 0.8;
}
 .icons .fas:hover {
	 transform: scale(1.1);
	 transition: all 0.3s ease-in;
}
 .dots {
	 width: 4px;
	 height: 4px;
	 border-radius: 50%;
	 background-color: #79c7c5;
	 box-shadow: 0px 7px 0px #79c7c5, 0px 14px 0px #79c7c5;
}
 .middle {
    overflow:scroll;
	 position: absolute;
	 background: #f9fbff;
	 width: 100%;
	 opacity: 0.85;
	 top: 60px;
	 height: 80%;
}
 .incoming {
	 position: absolute;
	 width: 95%;
	 height: 100%;
	 padding: 20px;
}
 .incoming .bubble {
	 background: #b2b2b2;
}
 .typing {
	 position: absolute;
	 top: 67%;
	 left: 20px;
}
 .typing .bubble {
	 background: #eaeaea;
	 padding: 8px 13px 9px 13px;
}
 .ellipsis {
	 width: 5px;
	 height: 5px;
	 display: inline-block;
	 background: #b7b7b7;
	 border-radius: 50%;
	 animation: bounce 1.3s linear infinite;
}
 .one {
	 animation-delay: 0.6s;
}
 .two {
	 animation-delay: 0.5s;
}
 .three {
	 animation-delay: 0.8s;
}
 .bubble {
	 position: relative;
	 /*display: inline-block;*/
	 margin-bottom: 5px;
	 color: #f9fbff;
	 font-size: 0.7em;
	 padding: 10px 10px 10px 12px;
	 border-radius: 20px;
}
 .lower {
	 margin-top: 45px;
}
 .outgoing {
	 position: absolute;
	 padding: 20px;
	 right: 0;
	 top: 0%;
	 width: 50%;
	 height: 100%;
}
 .outgoing .bubble {
	 background: #79c7c5;
	 float: right;
}
 .bottom-bar {
	 position: absolute;
	 width: 100%;
	 height: 55px;
	 bottom: 0;
	 background: #f9fbff;
	 border-radius: 0 0 10px 10px;
}
 .left {
	 left: 0px;
}
 input {
	 padding: 7px;
	 width: 74%;
	 left: 5%;
	 position: absolute;
	 border: 0;
	 top: 13px;
	 background: #f9fbff;
	 color: #79c7c5;
}
 input::placeholder {
	 color: #53857e;
}
 input:focus {
	 color: #777;
	 outline: 0;
}
 button {
	 position: absolute;
	 border: 0;
	 font-size: 1em;
	 color: #a1e2d9;
	 top: 19px;
	 opacity: 0.8;
	 right: 17px;
	 cursor: pointer;
	 outline: 0;
}
 button:hover {
	 transform: scale(1.1);
	 transition: all 0.3s ease-in-out;
	 color: #79c7c5;
}
 footer {
	 position: absolute;
	 bottom: 0;
	 right: 0;
	 text-align: center;
	 font-size: 0.7em;
	 padding: 10px;
}
 footer p {
	 color: #79c7c5;
	 text-transform: uppercase;
	 letter-spacing: 2px;
}
 footer a {
	 color: #f9fbff;
	 text-decoration: none;
}
 footer a:hover {
	 color: #a1e2d9;
}
 @keyframes bounce {
	 30% {
		 transform: translateY(-2px);
	}
	 60% {
		 transform: translateY(0px);
	}
	 80% {
		 transform: translateY(2px);
	}
	 100% {
		 transform: translateY(0px);
		 opacity: 0.5;
	}
}

 